*.cmi
*.cmo
*.annot
*.conflicts
*.swp
*.native
src/verif
src/parsing/lexer.ml
src/parsing/lexer.mli
src/parsing/parser.ml
src/parsing/parser.mli
src/smtlib/smtLexer.ml
src/smtlib/smtLexer.mli
src/smtlib/smtParser.ml
src/smtlib/smtParser.mli
doc
_build
test/linear
test/Monniaux
test/linear-tree-like
test/general
test/headdisjoint
test/error
test/AsynchronousPrg
test/L2CA
test/McMillanTacas06
test/Monniaux
test/NECLA
test/RECUR
test/SIL
test/VHDL
test/dillig
test/hornsmtbenchmarks-safe
test/hornsmtbenchmarks-unsafe

