*.cmi
*.cmo
*.annot
*.conflicts
*.swp
*.native
src/verif
src/parsing/lexer.ml
src/parsing/lexer.mli
src/parsing/parser.ml
src/parsing/parser.mli
src/smtlib/smtLexer.ml
src/smtlib/smtLexer.mli
src/smtlib/smtParser.ml
src/smtlib/smtParser.mli
doc
_build
test/linear
test/monniaux
test/linear-tree-like
test/general
test/headdisjoint
